In [19]:
import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)


df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

df5 = pd.DataFrame({
                       "group_name" : ["MANILA_PHP",
                                       "NZD_TCSS",
                                       "SEOUL_KRW_TCSS"
                                       ],
                       "Columns" : [  """[{"dataset": "PH_CONTRIB", "records": [".*"]}, {"dataset": "QUANT1", "records": ["PHPint.*", "PHPINT.*"]}]""",
                                    """[{"dataset": "HK_INTERNAL", "records": ["NZ_CONTRIB.*", "NZ_INTERNAL.*"]}]""",
                                    """[{"dataset": "HK_INTERNAL", "records": ["KR_CONTRIB/.*"]}, {"dataset": "QUANT1", "records": ["KRWint/.*"]}]"""
                                    ],
                        "member" : [    """{"apac\\lucky.alcuaz","apac\\marcel.ferreria","apac\\orlando.bisquera","apac\\reese.gaerlan","apac\\valerie.hugo","apac\\victor.bagay","apac\\victorio  .gomez"}""",
                                        """{"apac\\angus.hopkins","apac\\chrissy.vanderscheer","apac\\chrissy.van.der.scheer","apac\\flick.mueller","apac\\joe.kirtley","apac\\kenny.campbell","apac\\lyndon.smith","apac\\sam.cox","apac\\sam.kain","apac\\sam.twigg","apac\\sam.yates"}""",

                                          """{"apac\\charlie.yc.yoon","apac\\danny.ss.uhm","apac\\eunyup.park","apac\\hokeun.phie","apac\\hyojeong.song","apac\\hyunjae.nah","apac\\hyunsu.kim","apac\\jaewon.shim","apac\\jaewson.shim","apac\\jasmine.ar.lim","apac\\jinkyung.kim","apac\\kwangjae.yoo","apac\\yeonsoo.woo","apac\\yongsuk.jo"}"""
                                          ],
},
index=[0, 1, 2],
)
#concat result
# pd.concat(
#     objs,
#     axis=0,
#     join="outer",
#     ignore_index=False,
#     keys=None,
#     levels=None,
#     names=None,
#     verify_integrity=False,
#     copy=True,
# https://pandas.pydata.org/docs/user_guide/merging.html
# )
result=pd.concat([df1,df2,df3], keys=['df1','df2','df3'])

df5

# Assuming you already have the DataFrame df5
# If you don't have pandas installed, you can install it using: pip install pandas

# Access the "member" column and split the strings using ',' to get individual members
members = df5["member"].apply(lambda x: x.strip("{}").split(","))

# Flatten the list of lists
flattened_members = [member for sublist in members for member in sublist]

# Print the individual members
for member in flattened_members:
    print(member.strip())  # This will remove any leading/trailing whitespaces


df5

"apac\lucky.alcuaz"
"apac\marcel.ferreria"
"apac\orlando.bisquera"
"apac\reese.gaerlan"
"apac\valerie.hugo"
"apac\victor.bagay"
"apac\victorio  .gomez"
"apac\angus.hopkins"
"apac\chrissy.vanderscheer"
"apac\chrissy.van.der.scheer"
"apac\flick.mueller"
"apac\joe.kirtley"
"apac\kenny.campbell"
"apac\lyndon.smith"
"apac\sam.cox"
"apac\sam.kain"
"apac\sam.twigg"
"apac\sam.yates"
"apac\charlie.yc.yoon"
"apac\danny.ss.uhm"
"apac\eunyup.park"
"apac\hokeun.phie"
"apac\hyojeong.song"
"apac\hyunjae.nah"
"apac\hyunsu.kim"
"apac\jaewon.shim"
"apac\jaewson.shim"
"apac\jasmine.ar.lim"
"apac\jinkyung.kim"
"apac\kwangjae.yoo"
"apac\yeonsoo.woo"
"apac\yongsuk.jo"

,group_name,Columns,member
0,MANILA_PHP,"[{""dataset"": ""PH_CONTRIB"", ""records"": ["".*""]},...","{""apac\lucky.alcuaz"",""apac\marcel.ferreria"",""a..."
1,NZD_TCSS,"[{""dataset"": ""HK_INTERNAL"", ""records"": [""NZ_CO...","{""apac\angus.hopkins"",""apac\chrissy.vandersche..."
2,SEOUL_KRW_TCSS,"[{""dataset"": ""HK_INTERNAL"", ""records"": [""KR_CO...","{""apac\charlie.yc.yoon"",""apac\danny.ss.uhm"",""a..."

In [14]:
df5
import ast

# Assuming you already have the DataFrame df5
# If you don't have pandas installed, you can install it using: pip install pandas

# Function to format and print the data inside "Columns" column
def print_column_data(column_str):
    column_data = ast.literal_eval(column_str)  # Convert the string representation of list to actual list
    for item in column_data:
        dataset = item["dataset"]
        records = item["records"]
        print(f"dataset : {dataset}")
        print(f"records : {records}")
        print()

# Apply the function to each row in the DataFrame
df5["Columns"].apply(print_column_data)

dataset : PH_CONTRIB
records : ['.*']

dataset : QUANT1
records : ['PHPint.*', 'PHPINT.*']

dataset : HK_INTERNAL
records : ['NZ_CONTRIB.*', 'NZ_INTERNAL.*']

dataset : HK_INTERNAL
records : ['KR_CONTRIB/.*']

dataset : QUANT1
records : ['KRWint/.*']

0    None
1    None
2    None
Name: Columns, dtype: object

In [17]:
import pandas as pd
import ast

# Assuming you already have the DataFrame df5
# If you don't have pandas installed, you can install it using: pip install pandas

# Function to extract and format the data inside "Columns" column
def extract_column_data(column_str):
    column_data = ast.literal_eval(column_str)  # Convert the string representation of list to actual list
    result = []
    for item in column_data:
        dataset = item["dataset"]
        records = item["records"]
        result.append(f"dataset : {dataset}, records : {records}")
    return ", ".join(result)

# Function to extract the data inside the "member" column
def extract_member_data(member_str):
    members = member_str.strip("{}").split(",")
    return ", ".join([member.strip() for member in members])

# Create a list to store the dictionaries of extracted data
data_list = []

# Iterate through each row in the original DataFrame df5
for index, row in df5.iterrows():
    group_name = row["group_name"]
    columns_data = extract_column_data(row["Columns"])
    member_data = extract_member_data(row["member"])

    # Append the extracted data to the list as a dictionary
    data_list.append({"group_name": group_name, "Columns_data": columns_data, "Member_data": member_data})

# Create the new DataFrame from the list of dictionaries
new_data = pd.DataFrame(data_list)

new_data

,group_name,Columns_data,Member_data
0,MANILA_PHP,"dataset : PH_CONTRIB, records : ['.*'], datase...","""apac\lucky.alcuaz"", ""apac\marcel.ferreria"", ""..."
1,NZD_TCSS,"dataset : HK_INTERNAL, records : ['NZ_CONTRIB....","""apac\angus.hopkins"", ""apac\chrissy.vandersche..."
2,SEOUL_KRW_TCSS,"dataset : HK_INTERNAL, records : ['KR_CONTRIB/...","""apac\charlie.yc.yoon"", ""apac\danny.ss.uhm"", ""..."

In [3]:
result.loc['df2']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [5]:
# frames = [ process_your_file(f) for f in files ]
# result = pd.concat(frames)

df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)




})


result=pd.concat([df1,df4], axis=1)
result
# same result with Join='inner'

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [27]:
result = pd.concat([df1, df4], axis=1, join="inner")
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [29]:
result = pd.concat([df1, df4], axis=1).reindex(df1.index)
result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [32]:
result = pd.concat([df1, df4], ignore_index=True, sort=False)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [36]:
s1=pd.Series(["X0", "X1", "X2", "X3"], name="X")
result = pd.concat([df1, s1], axis=1)
# This trick will be useful can right loop data inside [] series
result = pd.concat([df1, s2, s2, s2], axis=1)

    0   1   2   3   4
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [43]:
s2 = pd.Series(["_0", "_1", "_2", "_3"])
s3 = pd.Series(["_000", "_111", "_222", "_333"])

result = pd.concat([df1, s2, s2, s3,s3], axis=1,)
result

#############
result = pd.concat([df1, s2, s2, s3,s3], ignore_index=True, sort=False)
result

    A   B   C   D   0   1     2     3
0  A0  B0  C0  D0  _0  _0  _000  _000
1  A1  B1  C1  D1  _1  _1  _111  _111
2  A2  B2  C2  D2  _2  _2  _222  _222
3  A3  B3  C3  D3  _3  _3  _333  _333

In [44]:
s3 = pd.Series([0, 1, 2, 3], name="foo")

s4 = pd.Series([0, 1, 2, 3])

s5 = pd.Series([0, 1, 4, 5])

pd.concat([s3, s4, s5], axis=1)

   foo  0  1
0    0  0  0
1    1  1  1
2    2  2  4
3    3  3  5

In [45]:
pd.concat([s3, s4, s5], axis=1, keys=["red", "blue", "yellow"])

   red  blue  yellow
0    0     0       0
1    1     1       1
2    2     2       4
3    3     3       5

In [48]:
#result = pd.concat(frames, keys=["x", "y", "z"])

pieces = {"x": df1, "y": df2, "z": df3}

result = pd.concat(pieces)

result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [55]:
result.index.nlevels
result
result = pd.concat(
    pieces, keys=["x", "y", "z"], levels=[["z", "y", "x", "w"]], names=["group_key"]
)
result

                A    B    C    D
group_key
x         0    A0   B0   C0   D0
          1    A1   B1   C1   D1
          2    A2   B2   C2   D2
          3    A3   B3   C3   D3
y         4    A4   B4   C4   D4
          5    A5   B5   C5   D5
          6    A6   B6   C6   D6
          7    A7   B7   C7   D7
z         8    A8   B8   C8   D8
          9    A9   B9   C9   D9
          10  A10  B10  C10  D10
          11  A11  B11  C11  D11

In [55]:
s2 = pd.Series(["X0", "X1", "X2", "X3"], index=["A", "B", "C", "D"])

result = pd.concat([df1, s2.to_frame().T], ignore_index=True)

In [4]:

import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["[babie,brother,sister,okey]"],
        "B": ["timestmap 123"],
        "C": ["2023-05-22T10:31:03"]
    },
    index=[0],
)


# Remove square brackets from column A
df1['A'] = df1['A'].str.strip('[]')

# Split the values in column A for each row
split_values = df1['A'].str.split(',').explode()
df2 = split_values.rename(f"A").reset_index(drop=True)

# Join df2 with the other columns from df1
df_result = pd.concat([df1[['B', 'C']], df2], axis=1)

df_result.info()

list(df_result.columns.values)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       1 non-null      object
 1   C       1 non-null      object
 2   A       4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

['B', 'C', 'A']

In [9]:
sorted(df_result)

['A', 'B', 'C']

In [10]:
list(df_result.columns)

['B', 'C', 'A']

In [12]:
for col in df_result.columns:
    print(col)

B
C
A

In [13]:
df_ = pd.concat([df1, df2], axis=1)
df_

                           A              B                    C        A
0  babie,brother,sister,okey  timestmap 123  2023-05-22T10:31:03    babie
1                        NaN            NaN                  NaN  brother
2                        NaN            NaN                  NaN   sister
3                        NaN            NaN                  NaN     okey

In [17]:
import pandas as pd

df1 = pd.DataFrame(
    {
        "A": ["[HK_INTERNAL#HK_CONTRIB/FRA/CNH/3X6, HK_INTERNAL#HK_CONTRIB/FRA/CNH/3X9, HK_INTERNAL#HK_CONTRIB/FRA/CNH/6X12, HK_INTERNAL#HK_CONTRIB/FRA/CNH/6X9, HK_INTERNAL#HK_CONTRIB/FRA/CNH/9X12]"],
        "B": ["timestmap 123"],
        "C": ["2023-05-22T10:31:03"]
    },
    index=[0],
)
# Remove square brackets from column A
df1['A'] = df1['A'].str.strip('[]')

# Split the values in column A for each row
split_values = df1['A'].str.split(',').explode().str.strip()
df2 = pd.DataFrame({"A": split_values})

# Repeat the values from columns B and C for each row
df2['B'] = df1['B'].repeat(len(split_values)).reset_index(drop=True)
df2['C'] = df1['C'].repeat(len(split_values)).reset_index(drop=True)

print(df2)

                                     A              B                    C
0   HK_INTERNAL#HK_CONTRIB/FRA/CNH/3X6  timestmap 123  2023-05-22T10:31:03
0   HK_INTERNAL#HK_CONTRIB/FRA/CNH/3X9  timestmap 123  2023-05-22T10:31:03
0  HK_INTERNAL#HK_CONTRIB/FRA/CNH/6X12  timestmap 123  2023-05-22T10:31:03
0   HK_INTERNAL#HK_CONTRIB/FRA/CNH/6X9  timestmap 123  2023-05-22T10:31:03
0  HK_INTERNAL#HK_CONTRIB/FRA/CNH/9X12  timestmap 123  2023-05-22T10:31:03

In [15]:
# Repeat the values from columns B and C for each row
df2['B'] = df1['B'].repeat(split_values.str.count(',') + 1).reset_index(drop=True)
df2['C'] = df1['C'].repeat(split_values.str.count(',') + 1).reset_index(drop=True)
df2

ValueError: operands could not be broadcast together with shape (1,) (5,)