In [48]:
import pandas as pd
df = pd.DataFrame({
    "x": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

df2 = pd.DataFrame({
    "x": [1, 4, 0, 9],
    "column2": [123, 23, 44, 55],
    "column3": ["T1", "T2", "T3", "T4"],
})

merged_df = pd.merge(df, df2, on='x', how='left')
merged_df

    x  column2_x column3_x  column2_y column3_y
0   1       -1.3   value_1      123.0        T1
1   4       -1.4   value_2       23.0        T2
2   0       -2.9   value_3       44.0        T3
3  10      -10.1   value_2        NaN       NaN
4   9      -20.4   value_1       55.0        T4

In [ ]:
import os
import csv
from datetime import datetime
import pandas as pd
import re

# Directory path containing XML files
directory1 = '/Users/TDCM00094/pythonProject/pythonProject1/OUTPUT/Tcbloombergpub-OUTPUT-With-DES-20240228.csv'
directory2 = '/Users/TDCM00094/pythonProject/pythonProject1/OUTPUT/Tcreuterspub-OUTPUT-With-DES-20240228.csv'

#df5 = pd.read_csv(directory1,dtype=str )
df6 = pd.read_csv(directory2,dtype=str,encoding='latin1')
df6

In [1]:
#Display Current-time
import datetime

#curtime = time.localtime(time.time())
time_str = datetime.now().strftime("%Y%m%d")
time_str

AttributeError: module 'datetime' has no attribute 'now'

In [6]:
from copy import copy, deepcopy
list_1 = [1, 2, [3, 5], 4]
list_2 = copy(list_1)
list_2[3] = 7
list_2[2].append(6)

list_1

[1, 2, [3, 5, 6], 4]

In [9]:
list_3 = deepcopy(list_1)
list_3[3] = 8
list_3[2].append(7)
4
for i in xrange(10):    # numbers from o to 9
    print i       # output => 0 1 2 3 4 5 6 7 8 9
for i in xrange(1,10):    # numbers from 1 to 9
    print i       # output => 1 2 3 4 5 6 7 8 9
for i in xrange(1, 10, 2):    # skip by two for next
    print i       # output => 1 3 5 7 9

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3460510916.py, line 6)

In [ ]:
3. How will you combine different pandas dataframes?
df1.append(df2)
pd.concat([df1, df2])
df1.join(df2)

5. How will you identify and deal with missing values in a dataframe?
missing_data_count=df.isnull().sum()

df[‘column_name’].fillna(0)

df[‘column_name’] = df[‘column_name’].fillna((df[‘column_name’].mean()))

In [13]:
#Write python function which takes a variable number of arguments.
def func(*a):
    for i in a:
        print(i)
func(3,8,2,1)

3
8
2
1

In [20]:
#WAP (Write a program) which takes a sequence of numbers and check if all numbers are unique.
def func(a):
    if len(a) == len(set(a)):
        return True
    else :
        return False;
a = [1,2,3,3,3]
func(a)

False

In [33]:
import pandas as pd

dir = '/Users/TDCM00094/Downloads/string_value.txt'

df = pd.read_csv(dir,dtype=str,encoding='UTF-8')

a = df.count()
print(a)

file       22337
dataset    22337
record     22337
field      22337
dtype: int64

In [3]:
number ='1235435.549'
a=decimal.Decimal(number)
type(a)
print(a)

1235435.549

In [6]:
number = [1,2,3,45,56,78,2,56,7,89,99,123,54,23,45,1]
max= number[0]
for num in number:
    if max < num:
        max= num
print(max)

123

In [12]:
from random import shuffle
number = [1,2,3,45,56,78,2,56,7,89,99,123,54,23,45,1]
shuffle(number)
print(number)

[56, 7, 78, 2, 56, 3, 123, 99, 23, 2, 1, 45, 89, 45, 54, 1]

In [14]:
#Counting Special Characters in a String
import re
str = "!344&$%$^@-0989cvsesf3421()()"
count = re.sub('[\w]+', '', str)
print(len(count))


#Counting Digits, Letters, and Spaces in a String

12

<>:5: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
C:\Users\TDCM00094\AppData\Local\Temp\ipykernel_18324\2482244296.py:5: SyntaxWarning: invalid escape sequence '\w'
  count = re.sub('[\w]+', '', str)

In [19]:
#Counting Digits, Letters, and Spaces in a String
name = 'Python is 142394 %%465fcx5gnfgh drgserty44y5 4r56'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

16
26
5

In [22]:
lst = ["P", "Y", "T", "H", "O", "N"]

str= ''.join(lst)
str

'PYTHON'

In [23]:
import numpy as np
arr = np.array([1,2,4,5,6,7678,8])
print(arr)

[   1    2    4    5    6 7678    8]

In [25]:
str = "lunchkaon wongprasert"
chang = "o"
str.replace(chang,"@")

'lunchka@n w@ngprasert'

In [ ]:
import datetime
today - datetime.date.today()

In [30]:
my_list = [1, 2, 3, 'a', 'b', 'c']
my_list.append(4)     # Adds 4 to the end of the list
my_list.remove('a')  # Removes the element 'a'
my_list

[1, 2, 3, 'b', 'c', 4]

In [31]:
#List Comprehension
sq=[]
for i in range(10):
    sq.append(i**2)
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
sq=[]
sq = [i**2 for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
lista = ['a','b','c','d','e']
count = 0
for l in lista:
    print('Index:', count,' Value:', l)
    count+=1

Index: 0  Value: a
Index: 1  Value: b
Index: 2  Value: c
Index: 3  Value: d
Index: 4  Value: e

In [38]:
for count, l in enumerate(lista):
    print('Index : ',count, 'Value : ', l)

Index :  0 Value :  a
Index :  1 Value :  b
Index :  2 Value :  c
Index :  3 Value :  d
Index :  4 Value :  e

In [65]:
#Remember, slice notation extracts a portion without modifying the original sequence
list = [12,23,51,64,1,3,5645,767,8,9]
str = "Hello My Friend!"
# Extracting Sublists
sl= list[2:]
sl
# Reversing a Sequence:
list[::-1]


# Getting Every Nth Element:
re = str[::2]
re

'HloM red'

In [72]:
#list Comprehensions:
squared_numbers = [i*2 for i in list]
squared_numbers

[24, 46, 102, 128, 2, 6, 11290, 1534, 16, 18]

In [3]:
#Lambda Functions
sort_by_age = sorted(list, key=lambda x: x =56.*["age"])
sort_by_age

SyntaxError: invalid syntax (2594666493.py, line 2)

In [ ]:
import pandas as pd

path1 = "/Users/TDCM00094/Downloads/rbam.csv"
path2 = "/Users/TDCM00094/Downloads/aud.csv"

df= pd.read_csv(path2,encoding='latin1')
temp=df[['sgt_time','sr','updatedfield','bid','ask','mid','creator','dataset','field-set']]
temp

temp['sgt_time'] = pd.to_datetime(temp['sgt_time'], format='%Y-%m-%d %H:%M:%S.%f %Z')

start = pd.Timestamp('2024-04-11 14:23:00',  tz='Asia/Singapore')
end = pd.Timestamp('2024-04-11 15:00:00',tz='Asia/Singapore')

filtered_df = temp[(temp['sgt_time'] >= start) & (temp['sgt_time'] <= end ) ]

filtered_df